body, html
  height: 100%

.chatApp, .container-fluid
  height: 100%
  > .row
    height: 100%

.left_part
  background-color: #414141
  color: #ffffff
  height: 100%

.right_part
  height: 100%
  .chat_box
    height: 100%
  .chat_div
    height: calc(100% - 30px)
    .message
      color: #ccc
  .send_form
    height: 30px
