.list
  padding: 0
  margin: 10px 0 4px
  list-style: none
  border-top: 1px solid rgba(255, 255, 255, 0.2)

.list__item
  display: flex
  align-items: center
  padding: 5px 10px 5px 0
  font-size: 15px
  cursor: pointer
  border-bottom: 1px solid rgba(255, 255, 255, 0.2)

  &:hover
    background: rgba(255,255,255,0.07)

  &:before
    content: ""
    display: block
    width: 10px
    height: 10px
    margin: 0 10px 0 0
    background: rgba(255, 255, 255, 0.08)

.list__item_active:before
  background: green
