.channel-info
  padding: 20px 15px

.channel-info__heading
  font-family: 'Open Sans', sans-serif
  font-size: 1.2em
  margin: 5px 0

.channel-info__decs
  border: 1px dotted grey
  font-size: 14px
  font-family: 'Open Sans', sans-serif
  padding: 5px 10px
  color: #6a656c
  border-radius: 10px/8px
  margin: 10px 0
