.login__box
  h2
    font-family: Open Sans, sans-serif
    font-weight: 600
    margin: 0
  .modal__body
    height: 200px
    position: relative

.login__error
    font-size: 12px
    margin: 0
    position: absolute
    font-family: 'Open Sans'
    bottom: 115px
    color: darkred
    font-weight: 600
