.modal
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  background: rgba(0,0,0,.86)
  z-index: 100

.modal__body
  position: relative
  width: 400px
  padding: 20px 0
  border: 2px solid #404040
  background: #c4c4c4
  text-align: center
  margin: 50px auto
  height: calc(90% - 100px)
