.send__text
  display: block
  width: 100%
  padding: 0 20px
  border-top: 2px solid #E0E0E0
  border-bottom: 2px solid #E0E0E0
  border-left: none
  border-right: none
  resize: none
  position: relative
  font-size: 18px
  line-height: 35px
