.setting
  height: 400px

  .form__radio
    display: none

  .form__radio + label
    font-size: 1rem
    margin-left: 10px

  .form__radio:checked + label.btn
    background-color: #286090
    border-color: #204d74
