<!doctype html>
<html class="no-js" lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>shriek chat</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="shortcut icon" type="image/ico" href="favicon.ico"/>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,600&amp;subset=latin,cyrillic-ext,cyrillic,latin-ext' rel='stylesheet' type='text/css'>
    <!-- build:css css/vendor.min.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- shriek:css -->
    <!-- endshriek -->
    <!-- endbuild -->
    <!-- build:css css/main.min.css -->
    <link rel="stylesheet" href="assets/css/bundle.min.css" />
    <!-- endbuild -->
  </head>
  <body>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="vendor/jquery-1.11.2.min.js"><\/script>')</script>
    <!-- build:js js/vendor.min.js -->
    <!-- bower:js -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:js js/main.min.js -->
    <script src="/socket.io/socket.io.js"></script>
    <script src="assets/js/components.min.js"></script>
    <!-- endbuild -->
    <!-- shriek:js -->
    <!-- endshriek -->
  </body>
</html>
